<p style="height:100px;line-height:100px;background-color:lime;color:white;font-size:46px;padding-left:12px;">
    Pandas
</p>

In [ ]:
import numpy as np
import pandas as pd
from pandas.tseries.offsets import BDay

In [ ]:
s1 = pd.Series([3, 4, 5, 6, 7])
s1

In [ ]:
s1.values, "---", s1.keys, "---", s1.index

In [ ]:
s1.describe()

In [ ]:
s1.agg(['max', 'min', 'std'])

In [ ]:
s1[0:3:2] #s1[start:stop:step]

In [ ]:
s2 = pd.Series([3, 6, 9, 13, 18, 24, 7, 11, 14, 45, 6, 16, 9, 33, 9], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 't', 'o', 'p', 'x', 'w', 'j', 'k', 'l'])
s3 = pd.Series({'120':22, '121':56, '122':57, '123':78, '124':84, '125':103})
s2, s3

In [ ]:
sx2 = pd.Index(['a', 'b', 'c', 'd', 'e', 'f'])
sx3 = pd.Index(['b', 'g', 'y', 'e', 'r', 'd'])
sx2, sx3

In [ ]:
sx2 & sx3

In [ ]:
sx2 | sx3

In [ ]:
sx2 ^ sx3

In [ ]:
s1.plot(kind='line')

In [ ]:
s3.plot(kind='pie')

In [ ]:
s2.plot(kind='bar')

In [ ]:
s2.plot(kind='barh')

In [ ]:
s2.plot(kind='hist')

In [ ]:
s2.plot(kind='box')

In [ ]:
s2.plot(kind='kde')

In [ ]:
s3.plot(kind='area')

In [ ]:
#df = pd.DataFrame(array, index=list(), columns=list())

In [ ]:
data = np.array([[1,2,3,4,5,6],[11,22,33,44,55,66],[10,20,30,40,50,60],[11,12,13,14,15,16],[11,21,31,41,51,61],
                 [101,102,103,104,105,106]])
index = ['A','B','C','D','E','F']
columns = ['SA','RU','UA','SY','KA','AR']
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
df

In [ ]:
SA = pd.Series({'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6})
RU = pd.Series({'A':11, 'B':22, 'C':33, 'D':44, 'E':55, 'F':66})
UA = pd.Series({'A':10, 'B':20, 'C':30, 'D':40, 'E':50, 'F':60})
SY = pd.Series({'A':11, 'B':12, 'C':13, 'D':14, 'E':15, 'F':16})
KA = pd.Series({'A':11, 'B':21, 'C':31, 'D':41, 'E':51, 'F':61})
AR = pd.Series({'A':101, 'B':201, 'C':301, 'D':401, 'E':501, 'F':601})
df1 = pd.DataFrame({'SA':SA, 'RU':RU, 'UA':UA, 'SY':SY, 'KA':KA, 'AR':AR})

In [ ]:
df1['SY']

In [ ]:
df.T

In [ ]:
df1.keys(), df1.values

In [ ]:
34 in df1.values

In [ ]:
'SY' in df.keys()

In [ ]:
df1.stack()

In [ ]:
df.iloc[2,3]

In [ ]:
df.iloc[0:3, 1:3]

In [ ]:
df1.loc['D', 'UA']

In [ ]:
df.loc['A':'D', 'RU':'KA']

In [ ]:
df1.loc[df1.RU > 20]

In [ ]:
df.loc[df.SY > 10, ['RU','UA', 'KA']]

In [ ]:
df1.index

In [ ]:
df1.sort_values(['AR'], ascending=False)

In [ ]:
"MAX", df.max(), "MIN", df.min(axis=0), "STD", df.std(axis=1), "MEAN", df['SY'].mean()

In [ ]:
df1.corr()

In [ ]:
df.skew()

In [ ]:
df4 = pd.DataFrame([{'A':1, 'B':2}, {'A':3, 'B':4}, {'A':5, 'B':6}])
df5 = pd.DataFrame({'A':[1, 3, 5], 'B':[2, 4, 6]})

In [ ]:
df4 == df5

In [ ]:
df.query('SA > 10 and UA < 16') # & = and : | = or

In [ ]:
df6 = pd.DataFrame({'Costumer':['Ali', 'Hasan', 'Alin', 'Sarah'], 'Town':['Davs', 'Para', 'Veet', 'Maty']})
df7 = pd.DataFrame({'Costumer':['Ali', 'Hasan', 'Alin', 'Sarah'], 'Loan':[200, 240, 190, 320]})
pd.merge(df6, df7)

In [ ]:
df8 = pd.DataFrame({'Name':['Ali', 'Jafar', 'Mary', 'Sarah'], 'Term':[6, 8, 3, 12]})
df9 = pd.merge(df6, df8, left_on='Costumer', right_on='Name', how='inner') #العناصر المشتركة فقط
df9

In [ ]:
df9.drop('Name', axis=1)

In [ ]:
df9.set_index('Costumer')

In [ ]:
df10 = pd.merge(df6, df8, left_on='Costumer', right_on='Name', how='outer') #كل العناصر الموجودة
df10

In [ ]:
df11 = pd.merge(df6, df7, how='left') #get all elements in df6 and common in df 7 -- how='right' is reverse
df11

In [ ]:
df11.prod()

In [ ]:
df12 = pd.DataFrame({'Code':[11,22,33,44,22,33], 'Name':[435,562,974,785,288,901]})
df12

In [ ]:
df12.groupby('Code').sum()

In [ ]:
df12.groupby('Code').describe().unstack() #stack() sort by row , unstack() sort by column

In [ ]:
df12.groupby('Code').aggregate({'Name':'max'}) #get max value from Name's values, we can user other wordkey like min...etc

In [ ]:
data = ['Kia', 'toyota','BMW', '  ']
pd.Series(data).str.len()

In [ ]:
pd.Series(data).str.startswith('T')

In [ ]:
pd.Series(data).str.endswith('W')

In [ ]:
pd.Series(data).str.find('a')

In [ ]:
pd.Series(data).str.rfind('W')

In [ ]:
pd.Series(data).str.rjust(20)   #محاذاة لليمين

In [ ]:
pd.Series(data).str.ljust(50)   #محاذاة لليسار

In [ ]:
pd.Series(data).str.center(16)  #توسيط النص

In [ ]:
pd.Series(data).str.zfill(7)   #اضافة اصفار

In [ ]:
#isupper(), islower(), istitle(), isspace(), isdigit(), isalpha(), isalnum(), isdecimal(), isnumeric()

In [ ]:
pd.Series(data).str.upper()

In [ ]:
pd.Series(data).str.capitalize()

In [ ]:
#lower(), swapcase()

In [ ]:
date = pd.to_datetime('15th of april, 2017')
print(date)

In [ ]:
date_2 = pd.to_timedelta(np.arange(26), 'D') # can replace D -- [MS. S, H, M, Y]...
date_2

In [ ]:
date_3 = date + date_2
date_3

In [ ]:
index = pd.DatetimeIndex(date + date_2)
date_4 = pd.Series(np.arange(26), index=index)
date_4

In [ ]:
date_4['2017-4']

In [ ]:
date_5 = pd.date_range('2019-1-1', '2019-6-30')
date_6 = pd.date_range('2018-5-26', periods=22, freq='D') #freq = [D, M, H, S, Y]
date_7 = pd.timedelta_range(0, periods=10, freq='H')
date_8 = pd.timedelta_range(0, periods=6, freq='2H20T42S') #also we can use it 'nYnMnDnHnTnS...'

In [ ]:
date_9 = pd.date_range('2018-5-20', periods=40, freq=BDay())  #BDay() Business Day

In [ ]:
DATA = pd.read_csv('C:\\Users\\asus_r\\Desktop\\Data Center\\Data\\Common Size Analysis.csv')

In [ ]:
pd.set_option('display.width', 100)
pd.set_option('precision', 2)
DATA.set_index('Year')

In [ ]:
DATA.corr(method='pearson')

In [ ]:
DATA.skew()

<p style="height:240px;line-height:100px;font-size:64px;background-color:cyan;color:white;padding:20px auto;text-align:center;border:2px outset gold;border-radius:8px;">
    Created by:<br/> <code>Tarek Ghajary</code>
</p>